<% provide :page_title, 'Questions' %>
<% currently_at 'Questions' %>

<h1 class="mb-4">Questions</h1>

<% if policy(:question).new? %>
  <%= link_to 'New question', new_question_path, class: 'btn btn-primary btn-lg' %>
<% end %>

<div class="mt-3">
  <%= pagination @pagy %>
</div>

  <%= render @questions %>

<div class="mt-3">
  <%= pagination @pagy %>
</div>
