<% provide :page_title, 'Editing Todo List' %>
<% currently_at 'Editing Todo List' %>

<div class="to-do-container">
  <h1 class="todo_list_title">Editing todo_list: <%= @todo_list.title %></h1>

  <%= render "form", todo_list: @todo_list %>

  <br>

  <div class="links todo_list_title">
    <%= link_to "Back", @todo_list %>
  </div>
</div>
