<% provide :page_title, 'New Todo Lists' %>
<% currently_at 'New Todo Lists' %>

<div class="to-do-container">
  <h1 class="todo_list_title">New todo list</h1>

  <%= render "form", todo_list: @todo_list %>

  <br>

  <div class="links todo_list_title">
    <%= link_to "Back to todo lists", todo_lists_path %>
  </div>
</div>
