<% provide :page_title, 'QR-generator' %>
<% currently_at 'QR-generator' %>

<div class="center-screen">

  <h1 class="text-center">QR code generator</h1>

  <%= form_tag :qr_code_download, method: :get do |f| %>
    <%= text_field_tag :content, nil, placeholder: "Enter text or URL..." %>
    <%= submit_tag 'Generate' %>
    <div class="links todo_list_title">
      <%= link_to "Back to home page", root_path %>
    </div>
  <% end %>
</div>