<% currently_at 'Home' %>
<% provide :page_title %>

<div class="body-root">
  <div class="row">
    <div class="col-xxl-6 col-xl-6 col-lg-12 mb-3 display: flex">
      <div class="col"><%= link_to 'Questions', questions_path,
        class: 'btn-font-size nav-link px-2 m-2' %></div>
    </div>

    <div class="col-xxl-6 col-xl-6 col-lg-12 mb-3 display: flex">
      <div class="col"><%= link_to 'My Todo Lists', todo_lists_path,
        class: 'btn-font-size nav-link px-2 m-2' %></div>
    </div>

    <div class="col-xxl-6 col-xl-6 col-lg-12 mb-3 display: flex">
      <div class="col"><%= link_to 'Weather info', new_search_temperature_path,
        class: 'btn-font-size nav-link px-2 m-2' %></div>
    </div>

    <div class="col-xxl-6 col-xl-6 col-lg-12 mb-3 display: flex">
      <div class="col"><%= link_to 'QR-generator', qr_code_generator_path,
        class: 'btn-font-size nav-link px-2 m-2' %></div>
    </div>
  </div>
</div>